<div class="recovery-container">
  <div class="container main-text-box">
    Password Recovery
  </div>
  <div class="container description-text-box">
    Please enter your email.<br>
    We will send you a link to reset your password.
  </div>
  <div class="container recovery-box">
    <input autocomplete="nope"  id="email-input" type="text" class="form-control login-item" placeholder="email" [(ngModel)]="email" autofocus>
    <div *ngIf="errorMessage.length > 0" class="alert alert-danger">
      {{errorMessage}}
    </div>
    <button id="register-btn" class="btn btn-outline-primary btn-block register-btn" (click)="SendResetLink()">Request Link</button>
  </div>
</div>
