.recovery-container {
  height: 100vh;
}

.recovery-box {
  max-width: 400px;
  padding: 20px;
}

.main-text-box {
  text-align: center;
  font: 25px "Lato", sans-serif;
  letter-spacing: 2px;
}

.description-text-box {
  text-align: center;
  font: 14px "Lato", sans-serif;
  letter-spacing: 2px;
  line-height: 150%;
  padding-top: 25px;
}


.login-item {
  margin-bottom: 10px;
  letter-spacing: 3px;
}

.login-btn {
  margin-bottom: 10px;
  letter-spacing: 5px;
}

.login-text {
  letter-spacing: 3px;
}

.recovery-btn {
  letter-spacing: 5px;
}