.redirect-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.redirect-card {
  text-align: center;
  background: #efefef;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  width: 100%;
}

h1 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 0.5rem;
}

p {
  font-size: 1rem;
  color: #666;
  margin-bottom: 1.5rem;
}