.alerts-container {
  font: 13px "Lato", sans-serif;
  min-height: 100vh;
}

.section-title {
  text-align: center;
  font: 25px "Lato", sans-serif;
  letter-spacing: 6px;
  padding: 30px;
}

.alert-box {
  max-width: 1100px;
  padding: 20px;
  margin-top: 10px;
  text-align: center;
}

.alert-item {
  margin-bottom: 10px;
}

.row {
  margin-bottom: 20px;
  padding-right: 20px;
}

.col-form-label {
  font: 15px "Lato", sans-serif;
}

.right-align-label {
  text-align: right;
}

.create-button {
  text-align: center;
  margin: 20px;
  width: 70%;
}
