.register-container {
  height: 100vh;
}

.main-text-box {
  text-align: center;
  font: 25px "Lato", sans-serif;
  letter-spacing: 6px;
}

.edit-profile-box {
  max-width: 600px;
  padding: 20px;
}

.edit-profile-item {
  margin-bottom: 10px;
}

.profile-btn {
  letter-spacing: 5px;
}

.center-checkbox {
  text-align: center;
  margin-top: 2px;
  letter-spacing: 1px;
}
