/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

.found-text-highlight{
 color: red;
 font-weight: bold;
}

// html{
//     font-size: 62.5%;
// }
// adding default sizing for everything??? to make into rem size?

*{
    font-family: 'Roboto', sans-serif;;
}
#\:0\.targetLanguage > span > a > img:nth-child(2),
#\:0\.targetLanguage > span > a > span:nth-child(3),
#\:0\.targetLanguage > span > a > img:nth-child(4),
#\:0\.targetLanguage > span > a > span:nth-child(5){
    display: none;
}

/* HIDE TOP BAR */
.goog-te-banner-frame.skiptranslate {
    display: none !important;
}
body {
    top: 0px!important;
}

// #google_translate_element:hover {
//   border: 1px solid black !important;
//   border-radius: 4px!important;
// }


.goog-te-gadget-simple  {
    background-color: rgba(255,255,255,0.20)!important;
    border: 1px solid rgba(255,255,255,0.20) !important;
    padding: 3px!important;
    font-size: 1rem!important;
    line-height:2rem!important;
    display: inline-block;
    cursor: pointer;
    zoom: 1;
}

.goog-te-gadget-icon {
    background-image: none;
    background-position: 0px 0px;
    height: 32px!important;
    width: 32px!important;
    margin-right: 8px!important;
    display: none;
}

.goog-te-menu2 {
    max-width: 100%;
}


.goog-te-menu-value span:nth-child(3) {
    border:none!important;
    font-family: 'Material Icons'; 
}

.goog-te-gadget {
    color:  rgba(119, 117, 117, 0.5) !important;

  }

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

  .welcome-box {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding: 30px;
    h3{
      font-size: calc(2vw + 60pt);
      font-weight: 900;
    }
    h5{
      font-size: 18pt;
      font-weight: 300;
      opacity: .5;
      letter-spacing: 3px;
    }
    h2{
        font-size: calc(2vw + 24pt);
        font-weight: 900;
        margin: 0;
        padding: 0;
    }
  }

/* Importing Bootstrap SCSS file. */
@import 'node_modules/bootstrap/scss/bootstrap';
